@using PoECommerce.Core.Model.Trade
@inherits ItemsContainerBase

@if (SearchResult != null)
{
    if (ListedItems == null || ListedItems.Count == 0)
    {
        if (SearchResult?.ItemIds?.Any() == true)
        {
            <span>Loading...</span>
        }
        else
        {
            <span>:No results found</span>
        }
    }
    else
    {
        <span>Showing @SearchResult.ItemIds.Length results (@SearchResult.Total matched)</span>

        if (ShowSummary)
        {
            <hr />
            <span>
                @(SearchResult.Query.Text)
                @if (SearchResult.Query.OnlineStatus != null)
                {
                    @:&nbsp;|&nbsp;@SearchResult.Query.OnlineStatus.Value
                }
                @if (SearchResult.Query.League != null)
                {
                    @:&nbsp;|&nbsp;@SearchResult.Query.League
                }
            </span>
            <hr />
        }

        if (IsCompact)
        {
            foreach (ListedItem resultItem in ListedItems)
            {
                <CompactListedItemContainer ListedItem="@resultItem"></CompactListedItemContainer>
            }
        }
        else
        {
            foreach (ListedItem resultItem in ListedItems)
            {
                <ListedItemContainer ListedItem="@resultItem"></ListedItemContainer>
            }
        }
    }
}