@using System.Text.Json
@using PoECommerce.Core.Model.Search
@inherits SearchContainerBase

<h3>Search:</h3>

<div>
    <TextField @bind-Value="@SearchText" PlaceHolder="Search item..." Style="width: 100%"></TextField>
</div>
<div>
    <Select @bind-Value="@League" PlaceHolder="League">
        <SelectOption Value="Blight">Blight</SelectOption>
        <SelectOption Value="Hardcore Blight">Hardcore Blight</SelectOption>
    </Select>
</div>
<div>
    <Select @bind-Value="@Status" PlaceHolder="Online Status">
        <SelectOption Value="@OnlineStatus.Any.ToString()">Any</SelectOption>
        <SelectOption Value="@OnlineStatus.Online.ToString()">Online Only</SelectOption>
    </Select>
</div>

<br />
<br />
<br />

<Button OnClick="@Search" Value="Search" ElementType="@ElementType.Primary"></Button>
<Button OnClick="@Clear" Value="Clear"  ElementType="@ElementType.Secondary"></Button>
<Button OnClick="@Clear" Value="Show filters"  ElementType="@ElementType.Primary"></Button>


@JsonSerializer.Serialize(Query);