@inherits SingleModifierFilterContainerBase

<div style="display: flex; flex-direction: row">
    <div style="width: 10%">
        <Checkbox @bind-Checked="@Enabled"></Checkbox>
    </div>
    <div style="width: 60%">
        <Select @bind-Value="@Id" IsAutocomplete="@true" PlaceHolder="Change Modifier Filter">
            <SelectOption Value="test">Test</SelectOption>
        </Select>
    </div>
    <div style="width: 20%">
        <FilterMagnitudeContainer FilterMagnitude="@Magnitude" OnChange="@(m => Magnitude = m)"></FilterMagnitudeContainer>
    </div>
    <div style="width: 10%">
        <Button ElementType="@ElementType.Secondary" Value="x" OnClick="@(_ => OnRemove?.Invoke(Filter))"></Button>
    </div>
</div>
